::-moz-selection { background: #454444; color: #03CCA8; }
	::selection { background: #454444; color: #03CCA8; }


body {
  margin-top: 0px;
    padding-top: 50px;
  font-family: 'Chivo', sans-serif;
    background-color: #fafafa; 
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-bottom: 0;
   animation: fadein 0.1s;
    -moz-animation: fadein 0.1s; /* Firefox */
    -webkit-animation: fadein 0.1s; /* Safari and Chrome */
    -o-animation: fadein 0.1s; /* Opera */
}

h1, h2, p {
    color: #454444;
}

h1 {
    font-size: 50px;
    color: #454444;
    margin-bottom: -20px;
}

h2 {
    font-size: 30px;
    color: #454444;
    line-height: 1.5
}

h3 {
    font-size: 25px;
    line-height: 1.4;
    color: #454444;
    margin-bottom: -10px;
}

p {
  font-size:   18px;
    line-height: 1.4;
    color: #454444;
}


a {
  color: #03CCA8;
    text-decoration: none;
}

a:hover {
/*cursor: url(https://raw.githubusercontent.com/simon3fus/portfolio/master/medias/cursor_klein.svg), pointer; */
    
     cursor: url("https://raw.githubusercontent.com/simon3fus/portfolio/master/medias/pfeil.svg") 0 0, pointer, auto; /* Legacy */
    cursor: url("https://raw.githubusercontent.com/simon3fus/portfolio/master/medias/pfeil.svg") 0 0, pointer, auto; /* FF */
    cursor: -webkit-image-set(url("https://raw.githubusercontent.com/simon3fus/portfolio/master/medias/pfeil.svg") 1x, url("https://raw.githubusercontent.com/simon3fus/portfolio/master/medias/pfeil.svg") 2x) 0 0, pointer, auto; /* Webkit */
    
    
    text-decoration: underline;
} 

/*(https://raw.githubusercontent.com/simon3fus/portfolio/master/medias/cursor.png*/


/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); 
  position: fixed;
  width: 100%;
  z-index: 3;
    top: 0;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 0px 0px;
  border-right: 0px solid #ffffff;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f7f7f7;
}
    

.header .logo {
    width: 175px;
    padding-left: 6px;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
text-align: right;

}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}





/* Grid portfolio */



.g {
    padding-top:30px;
    padding-left: 10px;
            padding-right: 10px;
			overflow: hidden;
            max-width: 1700px;
            margin: auto;
            list-style: none;
		}
		.g li {
			float: left;
			width: 50%;
			padding: 10px;
            
		}
		.g img {
			display: cover;
            width: 100%;
            height: 100%;
		}

.g img:hover { 
    opacity: 0.5;
     transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -webkit-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out;
}
.gh1 {
    padding-top: 50px;
    padding-left: 20px;
    max-width: 800px;
    margin: auto;
}

* {
  box-sizing: border-box;
}
.column {
  float: left;
    width: 50%;
    height: auto;
    padding-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
}

}

.column left {
    height: 600px;
display: block;

}

.column right {
  overflow: hidden;

}
.portrait {
    overflow: hidden;
padding-top: 0px;
}

.portrait img {
    overflow: hidden;
width: 100%;
}


.row {
    max-width: 1700px;
    margin: auto;
    padding-top: 0px;
}












.keyvisual {
    height: fill;
    max-width: 1200px;
    object-fit: contain;
    margin: auto;
    padding-top: 0px;
}


.inhalt {
    max-width: 800px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    
}
.inhalt h3 {
    font-size: 25px;
    color: #03CCA8;
}

.Leistungen {
    width: 50%;
    float: left;
    padding: 30px;
    background-color: #f4f4f4;
}
.Leistungen h3 {
    color: #4d4d4d;
}
.Leistungen ul {
    color:#4d4d4d;
}
.Services {
    width: 50%;
    float: left;
    padding: 30px;
    background-color: #f4f4f4;
}

.Services h3 {
    color: #4d4d4d;
}
.Services ul {
    color:#4d4d4d;
}

   .comment {
        width: 100%;
        float: left;
       padding-left: 30px;
       padding-top: 30px;
       padding-bottom: 30px;
       padding-right: 30px;
       background-color: #f0f0f0;
       margin-top: 0px;
    margin-bottom: 45px;
    }
.comment h4 {
    color:  #4d4d4d;
}

.preview {
    max-width: 800px;
    margin: auto;
    padding:50px;
}

.titelicon {
margin-bottom: -15px;
}


.link {
    width: 70%;
    display: block;
  margin-left: auto;
  margin-right: auto;
}

.link:hover {
    fill: #000;
    
}


.bilderline {
    background: #ffffff;
    width: 100%;
    margin: auto;
    object-fit: contain;
}

.bilderlineimg {
object-fit: contain;
    height: fill;
    max-width: 1200px;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 30px;
    padding-right: 30px;
}

.next {
    background-color: #454444;
    height: 350px;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 50px;
    padding-right: 50px;
}
.next h1 {
    color: #03CCA8;
    margin-top: 0px;
}

.nextl {
    float: left;
    width: auto;
}

.nextl h1 {
        font-size: 50px;
    }
    

.nextr {
    float: right;
    width: auto;
}

.mailrund {
    width: 200px;
    height: 200px;
    z-index: 3;
    position: fixed;
    right: 20px;
    bottom: 20px;
    transform: translateX(200px) translateY(200px);
   animation: turntable 30s linear infinite reverse;

}
.mailrund a:hover {
    fill: #000;
}


.pass {
    width: 100%;
    overflow: hidden;
    margin-top: 0px;
    padding-bottom: 0;
}

.pass img {
    width: 100%;
    overflow: hidden;
    mix-blend-mode: multiply;
    opacity: 0.2;
    padding-bottom: 0;

}






.abstand {
    padding:50px;
}










@keyframes turntable {
  0%   {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}


.turn1 {
    animation: turntable 13s linear infinite reverse;
}

.turn2 {
    animation: turntable 2s linear infinite;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}





/* NEXT  */
@media (max-width: 900px) {
    
        .next {
        padding-top: 80px;
        padding-bottom: 80px;
        height: 350px;
    }
    
    .nextl {
        text-align: center;
        margin: auto;
        width: 100%;
    }
    
    .nextl h1 {
        font-size: 20px;
    }
    
    
    .nextr {
        text-align: center;
        margin: auto;
        width: 100%;
        padding-bottom: 150px;
    }
    
}







@media (max-width: 768px) {
    

    
    .inhalt {
     padding: 20px;
    padding-top: 0px;
    }  
    .preview {
        padding: 20px;}
    
    .Leistungen {
        width: 100%;
    }
    
    .Services  {
    width: 100%;
    float: left;
    background-color: #f4f4f4;
}
 
    .g li {
			width: 100%;
    }

    
    .titelicon {
        margin: 0;
        margin-bottom: -10px;
    }    
    
    header .menu {
        padding-top: 0px;
        padding-right: 0px;
    }
    
    .link {
    width: 80%;
display: block;
  margin-left: auto;
  margin-right: auto;
    
    }
    
    

    
    .header li a {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        font-size: 20px;
    }
     .column {
    width: 100%;
         padding: 20px;
         margin-bottom: 80px;
  }
    .column left {
        height: 600px;
    }

    

    .mailrund {
        width: 150px;
        height: 150px;
        right 20px;
        bottom: 20px;
    }
    
    .pass {
        padding-top: 0px;
    }
    
    .bilderlineimg {
        padding: 0px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
     
    
    
.column {
  
  height: 300px;
        
}



    
    
    
    
    
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 25px;
    }

    
    
    
}




/* Das macht den Header Desktop */


@media (min-width: 768px) {
  .header li  {
    float: left;
    }
    
    
  .header li a {
    padding: 20px 20px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

}


